<form [formGroup]="productForm">
    <div class="form-group">
      <label for="uid">UID</label>
      <input type="text" class="form-control" id="uid" formControlName="uid">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" class="form-control" id="quantity" formControlName="quantity">
    </div>
    <div class="form-group">
      <label for="buy_price">Buy Price</label>
      <input type="number" class="form-control" id="buy_price" formControlName="buy_price">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" id="date" formControlName="date">
    </div>
    <div class="form-group">
      <label for="provider_uid">Provider UID</label>
      <input type="text" class="form-control" id="provider_uid" formControlName="provider_uid">
    </div>
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" class="form-control" id="stock" formControlName="stock">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" formControlName="category">
      </div>
      <div class="form-group">
        <label for="media">Media</label>
        <input type="text" class="form-control" id="media" formControlName="media">
      </div>
      <div class="form-group">
        <label for="last_update">Last Update</label>
        <input type="date" class="form-control" id="last_update" formControlName="last_update">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    
    
    
    